/* fonts.scss */
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-ThinItalic.ttf') format('ttf');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-LightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/css/typography/fonts/Lato/Lato-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'), url('/css/typography/fonts/Lato/Lato-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/css/typography/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}






















@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: local('Atkinson Hyperlegible'), url('/fonts/atkinson-hl.ttf') format('ttf');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: local('OpenDyslexic'), url('/fonts/OpenDyslexic-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
