@use 'tokens' as *;

html * {
  font-family: var(--font);
}

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5 {
  font-weight: 900;
  margin: 0;
  line-height: 140%;
}

p, li, span, div, input, button, textarea, select, label {
  font-weight: 400;
  margin: 0;
  line-height: 130%;
}

h1, .h1 {
  font-size: 32px;
}

h2, .h2 {
  font-size: 28px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
}