@use 'tokens' as *;

html * {
  font-family: var(--font);
}

.tp-h1, h1, .tp-h2, h2, .tp-h3, h3, .tp-h4, h4, .tp-h5, h5 {
  font-weight: 900;
  margin: 0;
  line-height: 140%;
  color: var(--text);
}

p, li, span, div, input, button, textarea, select, label {
  font-weight: 400;
  margin: 0;
  line-height: 130%;
  color: var(--text);
}

h1, .tp-h1 {
  font-size: 32px;
}

h2, .tp-h2 {
  font-size: 28px;
}

h3, .tp-h3 {
  font-size: 24px;
}

h4, .tp-h4 {
  font-size: 20px;
}

h5, .tp-h5 {
  font-size: 18px;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
}

.paragraph-big {
  font-size: 18px;
}

.paragraph {
  font-size: 16px;
}

.paragraph-small {
  font-size: 14px;
}

.paragraph-xsmall {
  font-size: 12px;
} 


.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}
