$Green-950: #021B12FF;
$Green-900: #023121FF;
$Green-800: #06593FFF;
$Green-700: #0E8763FF;
$Green-600: #17B988FF;
$Green-500: #21ECAEFF;
$Green-400: #25F8B5FF;
$Green-300: #4BFFBFFF;
$Green-200: #9CFFD4FF;
$Green-100: #DAFFEDFF;
$Green-50: #E8FFF3FF;

$Grey-950: #080B0BFF;
$Grey-900: #0D1211FF;
$Grey-800: #171D1BFF;
$Grey-700: #1F2725FF;
$Grey-600: #293230FF;
$Grey-500: #333E3BFF;
$Grey-400: #52625DFF;
$Grey-300: #738982FF;
$Grey-200: #96B1A9FF;
$Grey-100: #BADCD3FF;
$Grey-50: #D9F0E9FF;

$White: #FFFFFFFF;
$Black: #000000FF;