$Green-950: #021B12FF;
$Green-900: #023121FF;
$Green-800: #06593FFF;
$Green-700: #0E8763FF;
$Green-600: #17B988FF;
$Green-500: #21ECAEFF;
$Green-400: #25F8B5FF;
$Green-300: #4BFFBFFF;
$Green-200: #9CFFD4FF;
$Green-100: #DAFFEDFF;
$Green-50: #E8FFF3FF;

$Grey-950: #080B0BFF;
$Grey-900: #0D1211FF;
$Grey-800: #171D1BFF;
$Grey-700: #1F2725FF;
$Grey-600: #293230FF;
$Grey-500: #333E3BFF;
$Grey-400: #52625DFF;
$Grey-300: #738982FF;
$Grey-200: #96B1A9FF;
$Grey-100: #BADCD3FF;
$Grey-50: #D9F0E9FF;

$White: #FFFFFFFF;
$Black: #000000FF;

$Red-950: #450A0AFF;
$Red-900: #7F1D1DFF;
$Red-800: #991B1BFF;
$Red-700: #B91C1CFF;
$Red-600: #DC2626FF;
$Red-500: #EF4444FF;
$Red-400: #F87171FF;
$Red-300: #FCA5A5FF;
$Red-200: #FECACAFF;
$Red-100: #FEE2E2FF;
$Red-50: #FEF2F2FF;

$Blue-950: #172554FF;
$Blue-900: #1E3A8AFF;
$Blue-800: #1E40AFFF;
$Blue-700: #1D4ED8FF;
$Blue-600: #2563EBFF;
$Blue-500: #3B82F6FF;
$Blue-400: #60A5FAFF;
$Blue-300: #93C5FDFF;
$Blue-200: #BFDBFEFF;
$Blue-100: #DBEAFEFF;
$Blue-50: #EFF6FFFF;

$Yellow-950: #422006FF;
$Yellow-900: #713F12FF;
$Yellow-800: #854D0EFF;
$Yellow-700: #A16207FF;
$Yellow-600: #CA8A04FF;
$Yellow-500: #EAB308FF;
$Yellow-400: #FACC15FF;
$Yellow-300: #FDE047FF;
$Yellow-200: #FEF08AFF;
$Yellow-100: #FEF9C3FF;
$Yellow-50: #FEFCE8FF;

// Opacity values
$opacity-full: 100%;
$opacity-high: 85%;
$opacity-medium: 60%;
$opacity-low: 40%;
$opacity-subtle: 20%;
$opacity-ultra-subtle: 10%;
$opacity-glass: 75%;
$opacity-glass-light: 50%;
$opacity-glass-dark: 90%;